<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .container {
        width: 500px;
        height: 100vh;
        margin: 20px auto;
    }
    .table {
        margin: 0 auto;
    }
</style>
<body>
    <div class = "container">
        <table class = "table">
            <thead>
                <tr>
                    <th>글 번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board: ${list}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.title}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>